doctype html
html(lang="en")
  head
    title Casa - Beta
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Casa")
    meta(name="keywords", content="Casa")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#6BC281")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="shortcut icon" href="assets/img/favicon/favicon.ico")
    link(rel="shortcut icon" href="assets/img/favicon/favicon-32.png" sizes="32x32")
    <!-- Apple Touch Icons-->
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="assets/img/favicon/favicon-228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="assets/img/favicon/favicon-195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/favicon/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon/favicon-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="assets/img/favicon/favicon-128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/favicon/favicon-120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/img/favicon/favicon-96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon/favicon-72.png")
    link(rel="apple-touch-icon-precomposed" href="assets/img/favicon/favicon-57.png")
    //- Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Casa Beta")
    meta(name="twitter:description" content="Casa Beta")
    meta(name="twitter:image" content="https://mcansh.github.io/casa/assets/img/favicon/favicon.png")
  body
    nav
      .main
        h1 Casa
          span BETA
        .container
          button.hamburger.hamburger--squeeze(type="button")
            span.hamburger-box
              span.hamburger-inner
      .links
        a(href="") Homes
        a(href="") Rentals
        a(href="") Mortgages
        a.btn.signin(href="") Sign in
    header
      h1 Find that place you can call home.
      h3 Start searching for your dream home or apartment with our state of the art search tools.
      a.btn(href="") Let's Go
    //- section#why(style="height: 200px")
    section#analytics
      h2 Real time analytics
      p Our house value estimates are updated every day to provide the most up-to-date value on your current home.
      a.btn(href="") Details
    section#mission
      h2 Our mission is simple.
      p We strive every single day to provide the best experience for our customers. We know how stressful home buying can be, and we want to eliminate that stress by providing a tool that reassures our customers that they're making the right purchase.
    section#leggo
      h1 Let's buy a house together.
      p Whether it's your first home or your 5th, we'll always be here to help.
      a.btn(href="") Let's Go
    .homes-sold
      p Over 
        i 1.5 million 
        | homes have been sold through Casa to date. 
        a(href="") Learn more.
    footer
      .top
        ul
          li Casa
          li: a(href="") Homes
          li: a(href="") Rentals
          li: a(href="") Mortgages
          li: a(href="") Sign in
        ul
          li Support
          li: a(href="") Help
          li: a(href="") FAQ
          li: a(href="") Contact Us
        ul
          li Contact Us
          li: a(href="") Casa LLC
            br
            | 078 Fulton Ave.
            br
            | Grand Rapids, MI 49501
          li: a(href="") 616-777-7777
      .bottom
        p Casa
        p Copyright 2015
          
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="assets/js/myfunction.js")
