doctype html
html
  head
    title Casa
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="theme-color", content="")
    link(rel="icon", sizes="any", mask, href="img/website_icon.svg")
    link(rel="stylesheet", href="css/style.css")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" href="img/favicon.ico")
  body
    nav
      .brand
        a(href="#") <strong>Casa</strong> <span>BETA</span>
      a(href="#") Homes
      a(href="#") Rentals
      a(href="#") Mortgages
      a.signin(href="#") Sign In
      
    header
      h1 Find that place you can call home.
      h2 Start searching for your dream home or apartment with our state of the art search tools.
    
    section.why
      h2 Why find your next home with Casa?
      h3 We know there's lots of places to find a new home. Here's why you should find one here.
      .reasons
        .img
        .reason
          h4 Most Listinga
          p We have the largest listing database in the world, and our feed is the fastest to recieve new listings.
        .reason
          h4 Precise Filtering
          p Our precise filtering system helps you find the perfect home that's right for you.
        .reason
          h4 Expert Advice
          p Financial professionals are available 24/7 to answer any questions or concerns you may have.
        
