doctype html
html(lang="en")
  head
    title Casa - Beta
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Casa")
    meta(name="keywords", content="Casa")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="######")
    link(rel="shortcut icon" href="assets/img/favicon.ico")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    nav
      h1 Casa
        span BETA
      .links
        a(href="") Homes
        a(href="") Rentals
        a(href="") Mortgages
        a.btn.signin(href="") Sign in
      .container
        button.hamburger.hamburger--squeeze(type="button")
          span.hamburger-box
            span.hamburger-inner
    header
      h1 Find that place you can call home.
      h3 Start searching for your dream home or apartment with our state of the art search tools.
      a.btn(href="") Let's Go
    section#why(style="height: 20000px")
    section#analytics
    section#mission
    section#leggo
    .homes-sold
    footer
    
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="assets/js/myfunction.js")
